USE [ETRADE]
GO
/****** Object:  Trigger [dbo].[TRG_ITEMS_DELETE_UPDATE]    Script Date: 2.10.2025 14:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TRG_ITEMS_DELETE_UPDATE]
ON [dbo].[ITEMS]
AFTER DELETE,UPDATE
AS 
BEGIN
DECLARE @DELETECOUNT AS INT
DECLARE @INSERTCOUNT AS INT 

SELECT @DELETECOUNT=COUNT(*) FROM DELETED
SELECT @INSERTCOUNT=COUNT(*) FROM INSERTED

DECLARE @LOG_ACTIONTYPE AS VARCHAR(8)

IF @DELETECOUNT>0 AND @INSERTCOUNT>0
	SET @LOG_ACTIONTYPE = 'UPDATE'
IF @DELETECOUNT>0 AND @INSERTCOUNT=0
	SET @LOG_ACTIONTYPE = 'DELETE'

INSERT INTO ITEMS_LOG (ID, ITEMCODE, ITEMNAME, UNITPRICE, CATEGORY1, CATEGORY2, CATEGORY3, CATEGORY4, BRAND, LOG_ACTIONTYPE, LOG_DATE, LOG_USERNAME, LOG_PROGRAMNAME, LOG_HOSTNAME)
SELECT ID, ITEMCODE, ITEMNAME, UNITPRICE, CATEGORY1, CATEGORY2, CATEGORY3, CATEGORY4, BRAND, @LOG_ACTIONTYPE, GETDATE(), SUSER_NAME(), PROGRAM_NAME(), HOST_NAME()
FROM DELETED
END